body {
  color: #343434;
  margin: 0;
  padding: 0;
}
img {
  width: 300px;
}
a {
  color: #ffe66d;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  width: 900px;
  margin: 0 auto;
}
img {
  width: 300px;
  height: 250px;
}

/* profile */
header {
  color: #f7fff7;
  background-color: #2f3061;
}
/* projects */
.projects {
  background: #f7fff7;
}
.projects a {
  color: #2f3061;
}
.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}

/* work */
.work {
  background: #a1c6d7;
}

/* footer */
footer {
  background: #343434;
  color: #f7fff7;
}
