body {
  color: hsl(0, 0, 20%);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
/*** Navigation Bar ***/
nav {
  display: flex;
  text-align: center;
}

nav li {
  list-style-type: none;
  margin: 10px;
  color: #ffe66d;
}

nav ul {
  margin: 0 30%;
  display: flex;
}
@media screen and (max-width: 1280px) {
  nav ul {
    margin: 0 15%;
  }
  .profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    padding: 0 10px;
  }
}
@media screen and (max-width: 750px) {
  nav ul {
    margin: 0 15%;
  }
  .profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    padding: 0 10px;
  }
  .project-item img {
    width: 200px;
    height: 175px;
  }
}
@media screen and (max-width: 450px) {
  nav ul {
    display: block;
    margin: auto;
  }
  .profile-img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    float: left;
    padding: 0 10px;
  }
  .project-item img {
    width: 125px;
    height: 100px;
  }
}
nav a {
  text-decoration: none;
}
nav li a:hover {
  color: #4a4a4a;
}
nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  right: 15%;
  display: none;
  background: #4a4a4a;
}
nav ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 100px;
  text-align: left;
  padding-top: 5px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

a {
  color: #ffe66d;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}

.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}

img {
  width: 300px;
  height: 250px;
}

/*** Profile ***/
header {
  color: #f7fff7;
  background-color: #386278;
}
header h2 {
  margin: 0 auto;
}
h1 {
  text-shadow: 2px 2px;
  font-family: Parisienne, sans-serif;
  font-size: 56px;
  margin: 0;
}
/***  Projects ***/
.projects {
  background: #f7fff7;
}
.projects a {
  color: #2f3061;
}
.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item a {
  color: white;
  background-color: #343434;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.project-item img {
  float: left;
  margin-right: 20px;
}
.project-item h3 {
  margin-top: 0;
}
/*** Work ***/
.work {
  background: #a1c6d7;
}
.job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

/*** Education ***/
#edu {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
#edu p {
  width: 60%;
}
/*** Footer ***/
nav,
footer {
  background: #343434;
  color: #f7fff7;
}
