body {
  color: hsl(0, 0, 20%);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #ffe66d;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
img {
  width: 300px;
  height: 250px;
}

/* profile */
header {
  color: #f7fff7;
  background-color: #2f3061;
}
header h2 {
  margin: 0 auto;
}
h1 {
  text-shadow: 2px 2px;
  font-family: Parisienne, sans-serif;
  font-size: 56px;
  margin: 0;
}
/* projects */
.projects {
  background: #f7fff7;
}
.projects a {
  color: #2f3061;
}
.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}

/* work */
.work {
  background: #a1c6d7;
}

/* footer */
footer {
  background: #343434;
  color: #f7fff7;
}
